:root{
    --brimaryColor:#000;
    --secoandaryColor:#ff274b;
    --thirdColor:rgb;

}
body{
    background-color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.home{
    background-color:var(--brimaryColor);
    width: 100%;
    position: fixed;
    z-index: 999;
    color:var(--secoandaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 200px;
}
.logo{
    text-decoration: none;
    color:#ff274b;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.6em;
}


.navigation a{
    text-decoration: none;
    color:rgb(189, 32, 32);
    font-size: 1.1em;
    font-weight: 300;
    padding-left: 30px;
    display: inline;
}
.navigation a:hover{
    color:#ff274b;
    transform: scale(1.1);

}
section{
    padding: 100px 200px;
}
.content{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.title{
    display: flex;
    justify-content:center;
    color: rgb(21, 140, 209);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.web-card{
    background-color: aliceblue;
    border: 1px solid #fff;
    min-height: 14em;
    width:23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.4s ease;
}
.web-card:hover{
    transform: scale(1.1);
}
.web-card:hover .my-webimage{
    opacity: 0.9;/*الشفافيه اي ان الصوره تسطع عند تقريبها */
}
.my-webimage img{
    width: 100%;
}
.my-webinfo{
    padding: 1em;
}
p{
    font-size: 1em;
    color: rgb(143, 27, 133);
}
.web-title{
    display: flex;/*تجعل من خاصية الجوستفاي كنتنت ممكنه  */
    justify-content: space-between;/*تفرق بين اي عنصرين بداخل عنصر رئيسي */
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color:#991b1b;
}
.English-Courses{
    background-color: rgb(18, 80, 18);
}
.titleEnglish{
    display: flex;
    justify-content:center;
    color: rgb(30, 88, 250);
    font-size: 2.2em;
    font-weight: 800;
    margin: 90px;
    padding: 30px;
}
.eng{
    background-color: rgb(37, 18, 18);
}
.forn{
    background-color: rgb(60, 7, 73);
}
.work{
    background-color: rgb(3, 36, 36);
}

.footer{
    background-color: #00050a;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.foter-hakeem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
    color:#971212;
}
.footer-title span {
    color:#ff274b;
}
.footer .social_icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;

}
.social_icons a{
    color:#fff;
    font-size: 1.7em;
    padding-right: 30px;
    padding-bottom: 10px;
}

@media (max-width:1023px){
    .navigation a{
        padding-left: 5px;
        font-size: .8em;
    }
    .navigation a:hover{
        color: #ff274b;
    }
    .home{
        padding: 5px 10px;    
    }

    .logo{
        font-size: 1em;
        
    }
    .title{
        font-size: 1.8em;
        font-weight: 350;
    }
    .foter-hakeem{
        font-size: 1em;
        padding: 5px 10px;
    }
    .social_icons a{
        font-size: 1.2em;
        padding-left: 5px;

    }
    section{
        padding: 80px 20px;
    }
    .web-title{
        font-size: 1em;
    }
}
@media (max-width:300px){
    .navigation a{
        padding-left: 5px;
        font-size: 1em;
    }
    .home{
        padding:5px;
      }
      .logo{
          font-size: 1em;
      }
      .web-title{
          font-size: 1em;
      }
      body{

          font-size: 10px;
      }
      .social_icons{
          padding-left: 5px;
      }
}

