{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>My_WebSits</title>
</head>
<body>
    <section class="home">
        <h2><a class="logo">educational sites</a> </h2>
        <nav class="navigation">
        <a href="#Arabic Courses">Arabic</a>
        <a href="#English Courses">English</a>
        <a href="#Resume">Resume</a>
        <a href="#Formats">Formats</a>        
        <a href="#Trans">Trans.</a>
        <a href="#Work">Work</a>
        </nav>
    </section>
    <section class="Arabic Courses" id="Arabic Courses">
        <div class="title">Arabic Courses</div>
        <div class="content">
            <div class="web-card">
                <div class="my-webimage">
                    <img src="{% static 'images/edrak.png' %}" alt="">
                </div>
                <div class="my-webinfo">
                    <p calss="category">Edrak website</p>
                    <strong class="web-title">
                        <span>Arabic Course</span>
                        <a href="https://www.edraak.org" target="_self" class="more-details">Website-link</a>
                    </strong>
                </div>
            </div>
            <div class="web-card">
                <div class="my-webimage">
                    <img src="{% static 'images/korsat.jpeg' %}" alt="">
                </div>
                <div class="my-webinfo">
                    <p calss="category">KorsatOnline website</p>
                    <strong class="web-title">
                        <span>Arabic Course</span>
                        <a href="https://www.korsatcode.com/?gclid=CjwKCAiA3L6PBhBvEiwAINlJ9E_MoQhoVBcstEzb68BjhQ6SbCWy34vk-g5GyH9tIzc4vTw-ft3SaxoCk6MQAvD_BwE" target="_self" class="more-details">Website-link</a>
                    </strong>
                </div>
            </div>
            <div class="web-card">
                <div class="my-webimage"><img src="{% static 'images/satr.png' %}" alt=""></div>
                <div class="my-webinfo">
                    <p calss="category">Ster website</p>
                    <strong class="web-title">
                        <span>Arabic Course</span>
                        <a href="https://satr.codes/courses/063df133-5593-44b9-8d87-a63f2b150fab/session/89ab6c02-9f6c-4f47-9022-cf6663ff0eed/view" target="_self" class="more-details">Website-link</a>
                    </strong>
                </div>
            </div>
            <div class="web-card">
                <div class="my-webimage">
                    <img src="{% static 'images/maaref.jpeg' %}" alt="">
                </div>
                <div class="my-webinfo">
                    <p calss="category"> Maaref website</p>
                    <strong class="web-title">
                        <span>Arabic Course</span>
                        <a href="https://www.m3aarf.com/profile" target="_self" class="more-details">Website-link</a>
                    </strong>
                </div>
            </div>
            <div class="web-card">
                <div class="my-webimage">
                    <img src="{% static 'images/rewaq.jpeg' %}" alt="">
                </div>
                <div class="my-webinfo">
                    <p calss="category">Rwaq website</p>
                    <strong class="web-title">
                        <span>Arabic Course</span>
                        <a href="https://www.rwaq.org/courses" target="_self" class="more-details">Website-link</a>
                    </strong>
                </div>
            </div>
            <div class="web-card">
                <div class="my-webimage">
                    <img src="{% static 'images/hermesh.png' %}" alt="">
                </div>
                <div class="my-webinfo">
                    <p calss="category">Hermesh website</p>
                    <strong class="web-title">
                        <span>Arabic Course</span>
                        <a href="https://harmash.com/" target="_self" class="more-details">Website-link</a>
                    </strong>
                </div>
            </div>
            <div class="web-card">
                <div class="my-webimage">
                    <img src="{% static 'images/zero.jpeg' %}" alt="">
                </div>
                <div class="my-webinfo">
                    <p calss="category">Elzero website</p>
                    <strong class="web-title">
                        <span>Arabic Course</span>
                        <a href="https://elzero.org/category/courses/front-end-tutorials/" target="_self" class="more-details">Website-link</a>
                    </strong>
                </div>
            </div>      
            <div class="web-card">
                <div class="my-webimage">
                    <img src="{% static 'images/hasoop.jpeg' %}" alt="">
                </div>
                <div class="my-webinfo">
                    <p calss="category">Academy.Hsoub wibsite</p>
                    <strong class="web-title">
                        <span>Arabic Course</span>
                        <a href="https://academy.hsoub.com/login/?t=ca63800f04c240e01735fcf03666d10f&#" target="_self" class="more-details">Website-link</a>
                    </strong>
                </div>
            </div> 
            </div>
</section>
<section class="eng">       
            <div class="title" id="English Courses">English Courses</div>
            <div class="content">
                <div class="web-card">
                    <div class="my-webimage">
                        <img src="{% static 'images/free.png' %}" alt="">
                    </div>
                    <div class="my-webinfo">
                        <p calss="category">FreeCodeCamp website</p>
                        <strong class="web-title">
                            <span>English Courses</span>
                            <a href="https://www.freecodecamp.org/" target="_self" class="more-details">Website-link</a>
                        </strong>
                    </div>
                </div>
                    <div class="web-card">
                        <div class="my-webimage">
                            <img src="{% static 'images/udomey.png' %}" alt="">
                        </div>
                        <div class="my-webinfo">
                            <p calss="category">Udemy website</p>
                            <strong class="web-title">
                                <span>English Courses</span>
                                <a href="https://www.udemy.com/course/udemyblaraby/" target="_self" class="more-details">Website-link</a>
                            </strong>
                        </div>
                    </div>
                    <div class="web-card">
                        <div class="my-webimage">
                            <img src="{% static 'images/stack.jpeg' %}" alt="">
                        </div>
                        <div class="my-webinfo">
                            <p calss="category">Stack Over Flow website</p>
                            <strong class="web-title">
                                <span>English Courses</span>
                                <a href="https://stackoverflow.com/?newreg=7c22b1363fd44c309b3d96ca7b875cec" target="_self" class="more-details">Website-link</a>
                            </strong>
                        </div>
                    </div>
                    <div class="web-card">
                        <div class="my-webimage">
                            <img src="{% static 'images/w3sh.png' %}" alt="">
                        </div>
                        <div class="my-webinfo">
                            <p calss="category">W3schools website</p>
                            <strong class="web-title">
                                <span>English Courses</span>
                                <a href="https://my-learning.w3schools.com/" target="_self" class="more-details">Website-link</a>
                            </strong>
                        </div>
                    </div>
                    <div class="web-card">
                        <div class="my-webimage">
                            <img src="{% static 'images/mic.jpeg' %}" alt="">
                        </div>
                        <div class="my-webinfo">
                            <p calss="category">MicroSoft website</p>
                            <strong class="web-title">
                                <span>English Courses</span>
                                <a href="https://www.microsoft.com/ar-sa?wa=wsignin1.0" target="_self" class="more-details">Website-link</a>
                            </strong>
                    </div>
                </div>     
                <div class="web-card">
                    <div class="my-webimage">
                        <img src="{% static 'images/get.jpeg' %}" alt="">
                    </div>
                    <div class="my-webinfo">
                        <p calss="category">GetReaserch website</p>
                        <strong class="web-title">
                            <span>English Course</span>
                            <a href="https://www.researchgate.net/" target="_self" class="more-details">Website-link</a>
                        </strong>
                </div>
            </div>     
            <div class="web-card">
                <div class="my-webimage">
                    <img src="{% static 'images/course.jpeg' %}" alt="">
                </div>
                <div class="my-webinfo">
                    <p calss="category">Corursera website</p>
                    <strong class="web-title">
                        <span>English Course</span>
                        <a href="https://www.coursera.org/onboarding-questions?pageNumber=8" target="_self" class="more-details">Website-link</a>
                    </strong>
            </div>
            </div> 
            </div>
            </section>  
                <section>
                    <div class="title" id="Resume">Creating a CV </div>
                    <div class="content">
                    <div class="web-card">
                    <div class="my-webimage">
                        <img src="{% static 'images/re1.jpeg' %}" alt="">
                    </div>
                    <div class="my-webinfo">
                        <p calss="category">Resume Site</p>
                        <strong class="web-title">
                            <span>Resume</span>
                            <a href="https://www.canva.com/" target="_self" class="more-details">Website-link</a>
                        </strong>
                </div>
            </div>   
            <div class="web-card">
                <div class="my-webimage">
                    <img src="{% static 'images/re2.jpeg' %}" alt="">
                </div>
                <div class="my-webinfo">
                    <p calss="category">Resume Site</p>
                    <strong class="web-title">
                        <span>Resume</span>
                        <a href="https://app.resumecoach.com/user/" target="_self" class="more-details">Website-link</a>
                    </strong>
            </div>
        </div>   
        <div class="web-card">
            <div class="my-webimage">
                <img src="{% static 'images/tera.jpeg' %}" alt="">
            </div>
            <div class="my-webinfo">
                <p calss="category">website For Manage Resume</p>
                <strong class="web-title">
                    <span>Manage Resume</span>
                    <a href="https://profile.teracourses.com/ar/profile/account/profile/index" target="_self" class="more-details">Website-link</a>
                </strong>
            </div>
        </div> 
        </div>  
        </section>
    <section class="forn">
    <div class="title" id="Formats">Format Sites</div>
    <div class="content">
    <div class="web-card">
        <div class="my-webimage">
            <img src="{% static 'images/font.png' %}" alt="">
        </div>
        <div class="my-webinfo">
            <p calss="category">Add Icons&FontAwesome</p>
            <strong class="web-title">
                <span>Manage Fonts</span>
                <a href="https://fontawesome.com/v5.15/icons?d=gallery&p=2&q=upwork" target="_self" class="more-details">Website-link</a>
            </strong>
        </div>
    </div>  
    <div class="web-card">
        <div class="my-webimage">
            <img src="{% static 'images/fongo.png' %}" alt="">
        </div>
        <div class="my-webinfo">
            <p calss="category">website Font Google</p>
            <strong class="web-title">
                <span>Manage Fonts</span>
                <a href="https://fonts.google.com/specimen/Poppins" target="_self" class="more-details">Website-link</a>
            </strong>
        </div>
    </div>    
    <div class="web-card">
        <div class="my-webimage">
            <img src="{% static 'images/hic.jpeg' %}" alt="">
        </div>
        <div class="my-webinfo">
            <p calss="category">my website Image Without Background</p>
            <strong class="web-title">
                <span>Manage Images</span>
                <a href="https://www.hiclipart.com/" target="_self" class="more-details">Website-link</a>
            </strong>
        </div>
    </div>    
    <div class="web-card">
        <div class="my-webimage">
            <img src="{% static 'images/ico.jpeg' %}" alt="">
        </div>
        <div class="my-webinfo">
            <p calss="category">For Add Icons</p>
            <strong class="web-title">
                <span>Manage Icons</span>
                <a href="https://icon-icons.com/fr/" target="_self" class="more-details">Website-link</a>
            </strong>
        </div>
    </div>  
    <div class="web-card">
        <div class="my-webimage">
            <img src="{% static 'images/hic2.jpeg' %}" alt="">
        </div>
        <div class="my-webinfo">
            <p calss="category">Website For Add Cartoon or Icon&Img</p>
            <strong class="web-title">
                <span>Manage Images</span>
                <a href="https://storyset.com/" target="_self" class="more-details">Website-link</a>
            </strong>
        </div>
    </div>  
    <div class="web-card">
        <div class="my-webimage">
            <img src="{% static 'images/remove.jpeg' %}" alt="">
        </div>
        <div class="my-webinfo">
            <p calss="category">website For Remove Background</p>
            <strong class="web-title">
                <span>Manage Images</span>
                <a href="https://www.remove.bg/" target="_self" class="more-details">Website-link</a>
            </strong>
        </div>
    </div>  

    </div>
    </section>
    <section>
        <div class="title" id="Trans">Conversion Files</div>
        <div class="content">
            <div class="web-card">
                <div class="my-webimage">
                    <img src="{% static 'images/ilov.png' %}" alt="">
                </div>
                <div class="my-webinfo">
                    <p calss="category">Convert Files</p>
                    <strong class="web-title">
                        <span>Conversion</span>
                        <a href="https://www.ilovepdf.com/ar" target="_self" class="more-details">Website-link</a>
                    </strong>
                </div>
            </div>
            <div class="web-card">
                <div class="my-webimage">
                    <img src="{% static 'images/doc.png' %}" alt="">
                </div>
                <div class="my-webinfo">
                    <p calss="category">Convert Files</p>
                    <strong class="web-title">
                        <span>Conversion</span>
                        <a href="https://www.onlinedoctranslator.com/ar/translationform" target="_self" class="more-details">Website-link</a>
                    </strong>
                </div>
            </div>
        </div>
    </section>
    <section class="work">
    <div class="title" id="Work">Work Sites</div>
    <div class="content">
    <div class="web-card">
        <div class="my-webimage">
            <img src="{% static 'images/lin.jpeg' %}" alt="">
        </div>
        <div class="my-webinfo">
            <p calss="category">LindedIn website For Work</p>
            <strong class="web-title">
                <span>Work site</span>
                <a href="https://www.linkedin.com/" target="_self" class="more-details">Website-link</a>
            </strong>
        </div>
    </div>
    <div class="web-card">
        <div class="my-webimage">
            <img src="{% static 'images/up.png' %}" alt="">
        </div>
        <div class="my-webinfo">
            <p calss="category">Upwork website For Work</p>
            <strong class="web-title">
                <span>Work site</span>
                <a href="https://www.upwork.com/ab/create-profile/min/welcome" class="more-details" target="_self">Website-link</a>
            </strong>
        </div>
    </div>
    <div class="web-card">
        <div class="my-webimage">
            <img src="{% static 'images/has2.jpeg' %}" alt="">
        </div>
        <div class="my-webinfo">
            <p calss="category">Hsoub Arabic website For Work</p>
            <strong class="web-title">
                <span>Work Site</span>
                <a href="https://www.hsoub.com/" target="_self" class="more-details">Website-link</a>
            </strong>
        </div>
    </div>  
    </div>
    </section>
    <footer class="foter-hakeem">
        <p class="footer-title">copyrights @ <span>Sami Almosaib</span></p>
        <div class="social_icons">
            <a href="https://www.linkedin.com/in/sami-al-mosaib-a08a7a1a8/"target="_self"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UCoTG--J9cgxsjWuh9okKozg"target="_self"><i class="fab fa-youtube-square"></i></a>
            <a href="https://github.com/SamiAlmosaib"><i class="fab fa-github"target="_self"></i></a>
            <a href="https://twitter.com/Almosaib_sami"><i class="fab fa-twitter"target="_self"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100009111537553"target="_self"><i class="fab fa-facebook"></i></a>
        </div>
    </footer>
</body>
</html>